<!--
  Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
  
  Licensed under the Apache License, Version 2.0 (the "License").
  You may not use this file except in compliance with the License.
  A copy of the License is located at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  or in the "license" file accompanying this file. This file is distributed 
  on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either 
  express or implied. See the License for the specific language governing 
  permissions and limitations under the License.
-->

{{#if loading}}
	<div class="text-center"><img src="img/loading.gif" class="img-fluid"/></div>
{{else}}		
	<div class="jumbotron">
		<p class="lead"><a href="{{refreshLink}}"><i class="fas fa-sync-alt" title="Refresh videos"></i></a> The following videos have been added to the system. Click on a video to preview, edit and download captions. You may also upload new MP4, MKV or MOV videos for processing. Try capturing a video and uploading from your mobile device. Uploaded videos must be under 2 hours in duration.</p>
	</div>

	<div id="uploadContainer" class="m-4">
		<div id="actions" class="row">
		    <div class="col-lg-12">
		      <span class="btn btn-primary fileinput-button dz-clickable">
		          <i class="fa fa-cloud-upload-alt"></i>
		          <span>Upload videos...</span>
		      </span>
		    </div>
		</div>
		<div class="table table-striped files" id="previews">
		    <div id="template" class="file-row dz-image-preview">
		        <div>
		            <span class="preview"><img data-dz-thumbnail></span>
		        </div>
		        <div>
		            <p class="name" data-dz-name></p>
		            <strong class="error text-danger" data-dz-errormessage></strong>
		        </div>
		        <div>
		            <p class="size" data-dz-size></p>
		            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
		                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
		            </div>
		        </div>
		        <div class="p-1">
		            <button class="btn btn-success start">
		                <i class="fa fa-cloud-upload-alt"></i>
		                <span>Start</span>
		            </button>
		            <button data-dz-remove class="btn btn-default cancel">
		                <i class="fa fa-ban"></i>
		                <span>Cancel</span>
		            </button>
		            <button data-dz-remove class="btn btn-default delete">
		                <i class="fa fa-check-circle"></i>
		                <span>Upload complete</span>
		            </button>
		        </div>
		    </div>
		</div>
	</div>	

	<hr/>

	<ul class="nav nav-tabs" id="videoTabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="processing-tab" data-toggle="tab" href="#processing" role="tab" aria-controls="processing" aria-selected="true"><span class="badge badge-secondary">{{processingVideos.length}}</span> Processing</a>
		</li>	
		<li class="nav-item">
			<a class="nav-link" id="ready-tab" data-toggle="tab" href="#ready" role="tab" aria-controls="ready" aria-selected="false"><span class="badge badge-success">{{readyVideos.length}}</span> Ready to edit</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="errored-tab" data-toggle="tab" href="#errored" role="tab" aria-controls="errored" aria-selected="false"><span class="badge badge-warning">{{erroredVideos.length}}</span> Errored</a>
		</li>			
	</ul>
	<div class="tab-content" id="videoTabsContent">
		<br/>

		<div class="tab-pane fade show active" id="processing" role="tabpanel" aria-labelledby="processing-tab">
			<div class="p-2">
				{{#if processingVideos.length}}
				<table class="table table-striped" id="processingVideoTable">
					<thead>
						<tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">Name</th>
                            <th scope="col">AssetId</th>
                            <th scope="col">Stage</th>
                            <th scope="col">Status</th>
                            <th scope="col">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
					{{#each processingVideos}}
					<tr>
                        <td><a href="javascript: reprocessVideo('{{AssetId}}');"><i class="fa fa-play" title="Reprocess video"></i></a></td>
                        <td class="wrappable">{{Name}}</a></td>
                        <td>{{AssetId}}</td>
                        <td class="wrappable">{{CurrentStage}}</td>
                        <td class="wrappable">{{status}}</td>
                        <td><a href="javascript: deleteVideo('{{AssetId}}');"><i class="fa fa-trash" title="Delete video"></i></a></td>
					</tr>
					{{/each}}
					</tbody>
				</table>
				{{else}}
					<div class="alert alert-secondary">
  						<a href="{{refreshLink}}"><i class="fas fa-sync-alt" title="Refresh videos"></i></a> No videos are currently being processed.
					</div>
				{{/if}}
			</div>
		</div>
		
		<div class="tab-pane fade" id="ready" role="tabpanel" aria-labelledby="ready-tab">
			<div class="p-2">
				{{#if readyVideos.length}}
				<table class="table table-striped" id="readyVideoTable">
					<thead>
						<tr>
							<th scope="col">&nbsp;</th>
							<th scope="col">Name</th>
							<th scope="col">AssetId</th>
							<th scope="col">Stage</th>
							<th scope="col">Status</th>
							<th scope="col">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
					{{#each readyVideos}}
					<tr>
						<td><a href="javascript: reprocessVideo('{{AssetId}}');"><i class="fa fa-play" title="Reprocess video"></i></a></td>
						<td class="wrappable"><a href="#video/{{AssetId}}" onclick="dynamicRoute(event);">{{Name}}</a></td>
                        <td>{{AssetId}}</td>
						<td class="wrappable">{{CurrentStage}}</td>
						<td class="wrappable">{{status}}</td>
						<td><a href="javascript: deleteVideo('{{AssetId}}');"><i class="fa fa-trash" title="Delete video"></i></a></td>
					</tr>
					{{/each}}
					</tbody>
				</table>
				{{else}}
					<div class="alert alert-secondary">
  						<a href="{{refreshLink}}"><i class="fas fa-sync-alt" title="Refresh videos"></i></a> No videos are currently ready for editing.
					</div>
				{{/if}}
			</div>
		</div>

		<div class="tab-pane fade" id="errored" role="tabpanel" aria-labelledby="errored-tab">
			<div class="p-2">
				{{#if erroredVideos.length}}
				<table class="table table-striped" id="erroredVideoTable">
					<thead>
						<tr>
							<th scope="col">&nbsp;</th>
							<th scope="col">Name</th>
							<th scope="col">AssetId</th>
							<th scope="col">Failed Stage</th>
							<th scope="col">Status</th>
							<th scope="col">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
					{{#each erroredVideos}}
					<tr>
						<td><a href="javascript: reprocessVideo('{{AssetId}}');"><i class="fa fa-play" title="Reprocess video"></i></a></td>
						<td>{{Name}}</td>
						<td class="wrappable">{{AssetId}}</td>
						<td class="wrappable">{{CurrentStage}}</td>
						<td class="wrappable">{{status}}</td>
						<td><a href="javascript: deleteVideo('{{AssetId}}');"><i class="fa fa-trash" title="Delete video"></i></a></td>
					</tr>
					{{/each}}
					</tbody>
				</table>
				{{else}}
					<div class="alert alert-secondary">
  						<a href="{{refreshLink}}"><i class="fas fa-sync-alt" title="Refresh videos"></i></a> No videos have failed processing.
					</div>
				{{/if}}
			</div>
		</div>		

	</div>

	<script>
		$(function() {

			$("#erroredVideoTable").dataTable({
				"language": {
      				"emptyTable": "No errored videos were found."
    			},			
				"order": [[ 1, "asc" ]],
				"iDisplayLength": 10,
				"aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
				"columns": [
					{ "orderable": false },				
					null,
					null,
					null,
					null,
					{ "orderable": false }
				]
			});

			$("#processingVideoTable").dataTable({
				"language": {
      				"emptyTable": "No currently processing videos were found."
    			},
				"order": [[ 1, "asc" ]],
				"iDisplayLength": 10,
				"aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
				"columns": [
					{ "orderable": false },				
					null,
					null,
					null,
					null,
					{ "orderable": false }
				]				
			});

			$("#readyVideoTable").dataTable({
				"language": {
      				"emptyTable": "No videos ready for editing were found."
    			},			
				"order": [[ 1, "asc" ]],
				"iDisplayLength": 10,
				"aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
				"columns": [
					{ "orderable": false },				
					null,
					null,
					null,
					null,
					{ "orderable": false }
				]				
			});

			// https://codepen.io/fuxy22/pen/pyYByO
		    var previewNode = document.querySelector("#template");
			previewNode.id = "";
			var previewTemplate = previewNode.parentNode.innerHTML;
			previewNode.parentNode.removeChild(previewNode);

			var dropZoneOptions = {

				url: '/',
				uploadMultiple: false,
				method: 'put',			
				autoProcessQueue: true,
				previewTemplate: previewTemplate,
				autoQueue: false,
				previewsContainer: "#previews",
				clickable: ".fileinput-button",
				maxFiles: 5,
				maxFilesize: 5119,
				acceptedFiles: 'video/mp4,video/quicktime,.mkv',
				timeout: 360000000,
				thumbnailWidth: 80,
				thumbnailHeight: 80,
				thumbnailMethod: 'contain',

				init: function() {

					/**
					 * Send raw file content
					 * https://github.com/enyo/dropzone/issues/590
					 */
					this.on('sending', function(file, xhr) {
					
						file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");

						console.log('[INFO] swap to send raw file content');
						var _send = xhr.send;
						xhr.send = function() 
						{
							_send.call(xhr, file);
						};
					});									

					/**
					 * Fired when files are added
					 */
					this.on("addedfile", function(file) {
						file.previewElement.querySelector(".start").onclick = function() {
							var url = getSignedUrl(file).then(function(response) {
		    				myDropZone.options.url = response.data.signedUrl;
		    				console.log('[INFO] set url: ' + myDropZone.options.url);

							myDropZone.options.headers = {
    							'Content-Type': file.type
				    		};
    									    			
			    			myDropZone.enqueueFile(file);
			    		}).catch(function(error) {
			    			console.log('[ERROR] failed to fetch signed url', error);
			    		});
						};
					});

                    /**
                     * Trigger MIE TranscriberWorkflow
                     */
					this.on("success", function(file) {
                        $.when(
                                $.get('site_config.json')
                        ).done(function(site) {
                            let axiosConfig = {
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                "Name":"TranscribeWorkflow",
                                "Input": {
                                    "Media": {
                                        "Video": {
                                            "S3Bucket": site.mie_bucket,
                                            "S3Key": "videos/" + file.name
                                        }
                                    }
                                },
                                "Configuration": {
                                    "TranscribeStage": {
                                        "Transcribe": {
                                            "MediaType": "Audio",
                                            "Enabled": true,
                                            "TranscribeLanguage": site.transcribe_language,
                                            "VocabularyName": site.vocabulary_name
                                        }
                                    }
                                }
                            };
                            axios.post(site.mie_controlplane + 'workflow/execution', axiosConfig);
                            console.log('[INFO] Trigger TranscribeWorkflow on ' + file.name);
                        });
                    });
				}
		    };

			var myDropZone = new Dropzone("#uploadContainer", dropZoneOptions);
		    
		});

		$(function()
		{
			var defaultTab = '#processing-tab';
			var sessionKey = 'videoLastTab';

			$('a[data-toggle="tab"]').on('click', function (e)
			{
				sessionStorage.setItem(sessionKey, $(e.target).attr('href'));
			});

			var lastTab = sessionStorage.getItem(sessionKey);

			if (!lastTab)
			{
				lastTab = defaultTab;
				sessionStorage.setItem(sessionKey, lastTab);
			}

			$('a[href="'+lastTab+'"]').click();
		});
    </script>
{{/if}}